@import "colours.scss";

/* GENERAL */
.shadow-subtle {
    box-shadow: -2px 2px 8px var(--box-shadow);
}

.shadow-subtle:hover {
    box-shadow: -4px 4px 6px var(--box-shadow);
    transition: ease 0.2s;
}

button {
    background-color: var(--accentY);
    border: none;
    border-radius: 8px;
    padding: 1.25rem 10rem;
}

button:hover {
    box-shadow: inset -1px -1px 5px 1px var(--highlight), -4px 4px 5px var(--box-shadow);
    transition: ease 0.2s;
}

.chisel {
    position: absolute;
    width: 640px;
    height: 190px;
    left: -30px;
    border-radius: 13px;
    z-index: -1;
}

.stacked .chisel {
    width: 118%;
    height: 115%;
    left: -10%;
    top: -21px;
}

.cart-item .chisel {
    width: 100%;
    height: 90%;
    left: 0%;
    top: 5%;
}

.product-small:hover .chisel, .stacked:hover .chisel, .cart-item:hover .chisel {
    box-shadow: inset 0.5rem 0.5rem 1rem var(--box-shadow), inset -0.5rem -0.5rem 1rem var(--highlight);
    transition: ease 0.5s;
}

.gallery-album {
    position: relative;
}

.tooltip {
    width: 110%;
    left: 50%;
    bottom: 10%;
    opacity: 0.0;
    position: absolute;
    z-index: 8;
    background-color: var(--accentW);
    color: var(--background);
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    transform: translateX(-50%);
}

a:hover .tooltip {
    opacity: 1.0;
    box-shadow: -4px 4px 6px var(--box-shadow);
    transition: ease 0.3s;
}




/* FRONT PAGE */
.splash-image {
    box-shadow: -9px 9px 1px var(--box-shadow);
}

.A:hover {
    transform: scale(1.02) rotate(-22deg);
    transition: ease 0.5s;
}

.B:hover {
    transform: scale(1.02) rotate(-8deg);
    transition: ease 0.5s;
}

.C:hover {
    transform: scale(1.02) rotate(7deg);
    transition: ease 0.5s;
}

.D:hover {
    transform: scale(1.02) rotate(-10deg);
    transition: ease 0.5s;
}

.E:hover {
    transform: scale(1.02) rotate(4deg);
    transition: ease 0.5s;
}

.gallery-album:hover img, .gallery-album:active img {
    filter: brightness(1.15);
    filter: contrast(1.2);
    transition: ease 0.4s;
}


/* CART */
.remove:hover, .product-counter img:hover {
    cursor: pointer;
}


/* LINKS */
.link:hover {
    color: white;
    transition: ease 0.1s;
}



/* HEADER / FOOTER */
header {
    background-color: var(--background);
    box-shadow: 5px 0px 16px var(--box-shadow), inset 0em 2em 2em -2em var(--box-shadow);
}