@import "colours.scss";



.shadow-subtle {
    box-shadow: -2px 2px 5px var(--box-shadow);
}



/* FRONT PAGE */

.chisel {
    position: absolute;
    width: 640px;
    height: 190px;
    left: -30px;
    border-radius: 13px;
    
    z-index: -1;
}

.product-small:hover .chisel {
    box-shadow: inset 0.5rem 0.5rem 1rem var(--box-shadow), inset -0.5rem -0.5rem 1rem var(--highlight);
    transition: ease 0.5s;
}


.splash-image {
    box-shadow: -9px 9px 1px var(--box-shadow);
}

.A:hover {
    transform: scale(1.02) rotate(-22deg);
    transition: ease 0.5s;
}

.B:hover {
    transform: scale(1.02) rotate(-8deg);
    transition: ease 0.5s;
}

.C:hover {
    transform: scale(1.02) rotate(7deg);
    transition: ease 0.5s;
}

.D:hover {
    transform: scale(1.02) rotate(-10deg);
    transition: ease 0.5s;
}

.E:hover {
    transform: scale(1.02) rotate(4deg);
    transition: ease 0.5s;
}






/* HEADER / FOOTER */
header {
    background-color: var(--background);
    box-shadow: 5px 0px 16px var(--box-shadow), inset 0em 2em 2em -2em var(--box-shadow);
}