html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.product-small img{
    width: 190px;
    height: 190px;
    border-radius: 11px;
}

.pad-right {
    padding-right: 2em;
}


.flex-row {
    display: flex;
    flex-direction: row;
}

/* HEADER / FOOTER */
header {
    width: 100%;
    height: 105px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.header-left {
    align-items: center;
}

.header-right {
    position: relative;
}

.header-left p {
    padding-left: 70px;
}

.header-right img {
    margin-left: 48px;
    margin-right: 12px;
    width: 20px;
    padding-top: 4px;
    
}

.search-small {
    width: 308px;
    height: 36px;
    border-radius: 9px;
    padding-left: 10px;
    margin-right: 41px;
    background-color: var(--accentW);
    box-shadow: inset 0px 5px 6px 0px var(--box-shadow);
}

.logo {
    height: 45px;
    padding-left: 30px;
}

footer {
    padding-top: 250px;
    position: relative;
    bottom: 0;
}

footer > img {
    position: relative;
    left: -10%;
    width: 115%;
    padding-right: 10%;
    bottom: -4%;
    z-index: -100;
}

.footer-nav {
    position: absolute;
    padding-top: inherit;
    margin-top: 150px;
    top: 0;
    left: 25%;
    width: 50%;
}

.footer-nav > * {
    display: flex;
    justify-content: center;
}

.footer-nav p {
    margin: 0.5em 1em;
}

.footer-social {
    position: absolute;
    padding-top: inherit;
    margin-top: 150px;
    top: 95px;
    left: 75%;
    width: 50%;
}

.footer-social > * {
    margin: 5px;
}


/* HOMEPAGE */

.splash-image {
    border-radius: 10px;
  }

/* SPLASH IMAGE SPREAD */
.A {
    width: 380px;
}

.B {
    width: 390px;
}

.C {
    width: 400px;
}

.D {
    width: 360px;
}

.E {
    width: 370px;
}
