html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.product-small img{
    width: 190px;
    height: 190px;
    border-radius: 11px;
}

.pad-right {
    padding-right: 2em;
}

.pad-bottom {
    padding-bottom: 21px;
}

.right-align {
    text-align: right;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    align-items: center;
    justify-content: space-between;
}

/* HEADER / FOOTER */
header {
    width: 100%;
    height: 105px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-right {
    position: relative;
}

.header-left p {
    padding-left: 70px;
}

.header-right img {
    margin-left: 48px;
    margin-right: 12px;
    width: 20px;
    padding-top: 4px;
    
}

.logo {
    height: 45px;
    padding-left: 30px;
}

footer {
    padding-top: 250px;
    position: relative;
    bottom: 0;
}



footer > img {
    transform: scaleX(1.1);
}


.footer-nav {
    position: absolute;
    padding-top: inherit;
    margin-top: 150px;
    top: 0;
    left: 25%;
    width: 50%;
}

.footer-nav > * {
    display: flex;
    justify-content: center;
}

.footer-nav p {
    margin: 0.5em 1em;
}

.footer-social {
    position: absolute;
    padding-top: inherit;
    margin-top: 150px;
    top: 95px;
    left: 75%;
    width: 50%;
}

.footer-social > * {
    margin: 5px;
}




/* SEARCHBARS */

.search-small {
    width: 308px;
    height: 36px;
    border-radius: 9px;
    padding-left: 10px;
    margin-right: 41px;
    background-color: var(--accentW);
    box-shadow: inset 0px 5px 6px 0px var(--box-shadow);
}

.search-med {
    width: 381px;
    height: 45px;
    border-radius: 9px;
    padding-left: 10px;
    margin-bottom: 135px;
    background-color: var(--accentW);
    box-shadow: inset 0px 5px 6px 0px var(--box-shadow);
}






/* HOMEPAGE */
.home-margin {
    margin-top: 180px;
    margin-left: 11.5%;
    margin-right: 11.5%;
}

.mobile {
    display: none;
}

.splash-left {
    width: 50%;
}

/* TEXT */
.splash-title {
    margin-bottom: 55px;
}

.splash-search h3 {
    margin-bottom: 4px;
}

/* SPLASH IMAGE SPREAD */
.splash {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
}

.splash-image {
    border-radius: 10px;
    position: absolute;
    z-index: 0;
    width: 100%;
}

.splash-background {
    position: absolute;
    z-index: -55;
    top: 200px;
    right: -150px;
}

.A {
    left: 62%;
    top: 24%;
    width: 23.750rem;
    transform: rotate(-23deg);
}

.B {
    left: 75%;
    top: 15%;
    width: 24.375rem;
    transform: rotate(-9deg);
}

.C {
    left: 86%;
    top: 13%;
    width: 25rem;
    transform: rotate(6deg);
}

.D {
    left: 70%;
    top: 51%;
    width: 22.5rem;
    transform: rotate(-11deg);
}

.E {
    left: 84%;
    top: 46%;
    width: 23.125rem;
    transform: rotate(3deg);
}

.small-title {
    padding-bottom: 21px;
}

.product-small {
    align-items: center;
    position: relative;
}

a > .product-small {
    padding-bottom: 30px;
}

.product-small-text {
    padding-left: 40px;
    width: 380px;
}


/* DOUBLE ALBUM DISPLAY */
.bundle {
    width: 207px;
    position: relative;
}

.secondary {
    position: absolute;
    left: 16px;
    top: 16px;
}

.sales-bundles {
    margin-top: 208px;
}


/* GALLERY DISPLAY */
.obscurities {
    margin-top: 61px;
}

.hot-today h1, .obscurities h1 {
    margin-bottom: 0;
}

.hot-today h1 {
    margin-top: 80px;
}

.gallery {
    padding-top: 21px;
    display: grid;
    column-gap: 21px;
    row-gap: 21px;
    grid-auto-flow: dense;
}

.obscurities .gallery {
    grid-template-columns: repeat(4, 193px);
    grid-template-rows: 193px 193px;
}

.hot-today .gallery {
    grid-template-columns: repeat(7, 193px);
    grid-template-rows: 193px 193px 193px;
}

.gallery-album img {
    width: 193px;
    height: 193px;
    border-radius: 13px;
}

.gallery-album {
    height: 193px;
}

.double {
    height: 407px;
    grid-column: span 2;
    grid-row: span 2;
}

.double img {
    width: 100%;
    height: 100%;
}

