@media (max-width: 1800px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    body {
        font-size: 10pt;
    }





    /* HEADER / FOOTER */
    header {
        height: 120px;
        top: unset;
        bottom: 0;
        background-image: url(../images/mobile-menu.svg);
        background-color: rgba(0,0,0,0);
        box-shadow: none;
        align-items: flex-end;
    }
    
    .header-right {
        width: 100%;
        position: static;
        align-items: center;
        justify-content: space-evenly;
    }

    .header-right img {
        margin-left: 0;
        margin-right: 0;
        width: 6vw;
        max-width: 30px;
        padding-top: 0;
        padding-bottom: 20px;
        max-height: 150px;
        
    }
    
    #logo {
        height: 18vw;
        width: 18vw;
        max-width: 100px;
        padding-left: 0;
        padding-bottom: 0px;
        margin-bottom: 30px;
    }

    footer p {
        font-size: 10pt;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-nav {
        left: unset;
        width: auto;
        padding: 0;
        margin: 0;
        margin-top: 100px;
        left: 51%;
        transform: translateX(-50%);
    }

    .footer-nav > * {
        display: block;
        margin-bottom: 35px;
    }

    .footer-nav p {
        margin: 0;
    }

    footer > img{
        position: absolute;
        left: -10%;
        transform: scaleY(2);
    }

    .footer-social {
        width: auto;
        padding: 0;
        margin: 0;
        top: 320px;
        left: 51%;
        transform: translateX(-50%);
    }






    /* HOME PAGE */
    .mobile-head {
        position: absolute;
        top: -105px;
        left: -118px;
        width: 664px;
        height: 260px;
        background-image: url(../images/mobile-head-background.svg);
    }

    .mobile-head-small {
        position: absolute;
        top: -125px;
        left: -218px;
        width: 664px;
        height: 260px;
        background-image: url(../images/mobile-head-background.svg);
        transform: scaleY(0.7)
    }

    .mobile-head + img {
        position: absolute;
        left: 50%;
        top: 180px;
        transform: translateX(-50%);
    }

    .home-margin {
        width: 100vw;
        margin-top: 280px;
        margin-left: 8.5%;
        margin-right: 8.5%;
    }

    .splash-left {
        width: inherit;
    }

    .splash-title {
        font-size: 10pt;
        line-height: normal;
    }






    /* PRODUCT LISTING */
    .product-image {
        width: 100%;
        padding: 0;
        background-image: url(../images/frahm-solo.jpg);
        background-attachment: fixed;
        background-position: top;
        min-height: 100vw;
        background-size:contain;
        box-shadow: inset 0px -10px 15px 0px var(--box-shadow);
    }

    .product-details {
        margin: 0 12%;
        padding: 0;
        background-color: var(--background);
        z-index: 1;
        margin-bottom: 13vw;
    }

    .add-cart-button {
        position: absolute;
        top: 0px;
        width: 100%;
        transform: translateY(-50%);
    }

    .add-cart-button button {
        width: 93%;
        margin: 0;
        padding: 0.5rem 0;
    }

    .product-details h1 {
        height: 2.8rem;
        margin-top: 2.8rem;
    }
    
    .large-title {
        font-size: 35pt;
    }
    
    .large-sub {
        font-size: 15pt;
    }

    .large-price {
        font-size: 20pt;
    }

    .product-price {
        padding-bottom: 1.6rem;
    }

    .stock-text {
        font-size: 13pt;
        right: 1.6rem;
        bottom: 0;
    }

    .stock-check {
        bottom: 0.1rem;
    }

    .product-description {
        margin-top: 1.5rem;
    }

    .more-products {
        justify-content: space-around;
    }

    .more-products .stacked img {
        width: 25vw;
        max-width: 10rem;
    }

    .read-more {
        font-size: 10pt;
    }

    .med-sub {
        font-size: 10pt;
        word-break: break-all;
    }

    .small-title {
        font-size: 15pt;
    }

    .back-to-top button {
        width: 93%;
        margin: 2rem 0;
        padding: 0.5rem 0;
        text-align: center;
    }







    /* CHECKOUT */
    .checkout-margin {
        width: auto;
        max-height: none;
        margin-left: 3%;
        margin-right: 6%;
    }

    .checkout-margin > * {
        width: 90vw;
        max-width: 800px;
    }

    .payment-details {
        margin-right: 0;
        padding-bottom: 120px;
    }
    
    .checkout-summary {
        margin-left: 0;
    }

    .space-together {
        justify-content: center;
    }

    #continue-wo-signin {
        margin-left:15px;
    }





    
    /* CONFIRMATION */
    body {
        height: 100vh;
    }

    .complete-margin {
        display: block;
        position: relative;
        width: auto;
        margin-left: 5%;
        margin-right: 7%;
        background-image: url(../images/check-large.svg);
        background-repeat: no-repeat;
        background-size: 80vw;
        background-position-x: 8vw;
        background-position-y: 10vh;
        margin-top: 8rem;
    }

    .confirm-text {
        position: absolute;
        top: 200px;
    }

    .confirm-text h1 {
        font-size: 9vw;
    }

    .confirm-text h2 {
        font-size: 6vw;
    }

    .confirm-cart {
        position: static;
        top: unset;
        left: unset;
        margin-left: 5vw;
        margin-right: 6vw;
    }

    .confirmed-item {
        padding-right: 0;
    }

    .product-min-text h3 {
        font-size: 3.5vw;
    }
    
    .min-body {
        font-size: 3vw;
    }

    .min-image {
        width: 20vw;
        height: 20vw;
        max-width: 190px;
    }
}