@import "colours.scss";

:root {
    font-size: 12pt;
}

/* default */
body, html {
    font-family: urbane-rounded, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12pt;
    color: var(--accentW);
    line-height: normal;
}

button {
    color: var(--midtone);
    font-family: freude, sans-serif;
    font-weight: 400;
    font-style: normal;
}

input {
    color: var(--midtone);
    font-family: urbane-rounded, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 10pt;
}

a {
    text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: inherit;
}




.yellow {
    color: var(--accentY)
}

.green {
    color: var(--highlight)
}

.dark-green {
    color: var(--midtone)
}

.semibold {
    font-weight: 600;
}

.min-body {
    font-size: 9pt;
}

.min-price {
    font-size: 15pt;
}

.min-sub {
    font-size: 10pt;
}

.small-title {
    font-size: 21pt;
}


.med-title {
    font-size: 32pt;
}

.med-sub {
    font-size: 18pt;
}

.large-title {
    font-size: 70pt;
}

.large-sub {
    font-size: 26pt;
}

.alt {
    font-family: freude, sans-serif;
    font-weight: 400;
    font-style: normal;
}




/* HEADER / FOOTER */
header p {
    font-weight: 600;
    font-size: 11pt;
}

footer p {
    font-weight: 300;
    font-size: 11pt;
}


/* HOMEPAGE */
.splash-title {
    font-size: 36pt;
    line-height: 40pt;
}

.album-small {
    font-size: 21pt;
}


/* SEARCH */
.tags-min {
    font-size: 8pt;
}


/* PRODUCT LISTING */
.large-price {
    font-size: 37pt;
}

.product-description {
    letter-spacing: 1pt;
    line-height: 18pt;
}

.read-more {
    font-size: 1rem;
}


/* SHOPPING CART */
.cart-title {
    font-size: 24pt;
}


/* CHECKOUT */
.checkout-text {
    font-size: 12pt;
}

.checkout-end h2, .cart-end h2 {
    font-size: 28pt;
}

.checkout-end h3, .cart-end h3 {
    font-size: 16pt;
}


/* COMPLETION */
.confirm-text h1 {
    font-size: 50pt;
}

.confirm-text h2 {
    font-size: 25pt;
}

